body{
	background-image: url("../images/background.png");
	font-family: "OCR A Std", monospace;
}

.content{
	padding-top:100px;
	color:red;
	background-color: rgb(0,0,0,0);
}


div.box{
	margin: auto;
	background-color: white;
	width:45%;
	text-align: center;
	height: 70%;
	padding-top: 30px;
	visibility: hidden;
	overflow: scroll;
	float:right;
}
.box:hover{
	background-color: white;
	box-shadow: 0 25px 60px rgba(0,0,0,.8);
}
input[type=text], select {
	height:20px;
	width: 80%;
	margin-bottom: 22px;
	text-align: center;
}




input[type=submit], select {
}
	
	
h1 { 
	font-size: 100px; 
}


div.content{
	color:red;
	width: 100% - 20px;
	height: 100%;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	overflow: scroll;
}

.tabel{
	margin-top: 50px;
	color:black;
	margin-bottom: 50px;
	width:50%;
	float:left;
}

.tabel:hover{
	background-color: white;
	box-shadow: 0 25px 60px rgba(0,0,0,.8);
}
tr{
	background-color: rgb(255, 255, 255) !important;
}
td{
	font-size: 15px;
	border-color: rgb(0, 0, 0,0.3) !important;
	border-right: none !important;
	border-left: none !important;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

td:hover{
	font-size: 16px;
}

th{
	font-size: 20px;	
	background-color: white;
}