body{
	background-color: #d3dbe3;
	font-family: "OCR A Std", monospace;
}

div.content{
	margin:auto;
	padding-top:10px;
	color:red;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar{
	background-color:black;
	color:white;
}


.little_first_box{
	padding-left: 20px;
	overflow-x: hidden;
	padding-top: 13px;
	margin-top: 10px;
	position: fixed;
	color:white;
    width: 20px;
    height: 50px;
    background-color: #22A7F0;
    z-index: 1;
 	border-radius: 0px 10px 10px 0px;
	border: 1px solid #22A7F0;
	border-left: none;
	border-top: none;
	border-bottom: none;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

}

.little_first_box:hover{
	transition: 2s;
	position: fixed;
    width: 120px;
    height: 50px;
    background-color: #1F4788;
    z-index: 1;
 	border-radius: 0px 10px 10px 0px;
	border: 1px solid #1F4788;
	border-left: none;
	border-top: none;
}

.firstfloatbox{
	margin-top: 10px;
	border: 1px solid rgb(0,0,0);
	position: fixed;
    width: 50px;
    height: 350px;
    background-color: blue;
    z-index: 1;
	display: none;
	padding-left: 35px;
	padding-top: 50px;
	color:black;
	width:30%;
	background-color: rgb(255,255,255,0.8);
	padding-right: 10px;
}

.secondfloatbox{
	padding-top:10px;
	padding-left:10px;
	float:left;
	width:68%;
	color:black;
	background-color: rgb(255,255,255);
	margin-left: 0px;
}



.thirdbox{
	width:100%;
	max-width: 1700px;
}



input[type=text] {
	height:30px;
	display: inline;
}

.checklist{
	color:red;
	width: 200px;
}

input[type=button]{
	height:30px;
	display: inline;
	background-color:white;
	border: none;
	cursor:pointer;
	text-align: center;
	
}

legend{
	font-size: 20px;
}

.alerte{
	margin-bottom: 10px;
	margin-top: -10px;
	width:150px;
}

.sort{
	margin-left: 10px;
}


table {
	table-layout: fixed ;
	width: 100% ;
	background-image: url("../images/background.png");
	text-align:center;
	font-size: 13px;
}

td {
	border: 1px solid rgb(211,211,211);
	background-color: white;
	overflow: hidden;
	overflow-y: hidden;
	border-right: none;
	border-left: none;
	padding-left: 10px;
}

tr:hover td {background:#F5F5F5}

div.progressbar2 {
	margin: 0 auto;
    margin-top: 15px;                                 
    padding: 4px;
    width:80%;
    text-align:right;
}



div.progressbars {
	margin: auto;
    background-color: lightgrey;
    width:80%;
    height: 10px;
    text-align:center;
    color:black;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75) inset;
	-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75) inset;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75) inset;
}

div.progress {
    background-color: black;
    width: 0%; /* Adjust with JavaScript */
    height: 10px;
    text-align:center;
    color:black;
	border-radius: 0px;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(255,255,255,0.4) inset;
	-moz-box-shadow: 1px 1px 1px 1px rgba(255,255,255,0.4) inset;
	box-shadow: 1px 1px 1px 1px rgba(255,255,255,0.4) inset;
}
	
.forthbox{
	float:left;
	padding-left:10px;
	padding-bottom:10px;
	width:100%;
	background-color: white;
	color:black;
	text-align: left;
	padding-left: 20px;
	font-weight: bold;
}



div.alert_box{
	width:33%;
	height: 150px;
	font-size:35px;
	text-align: center;
	background-color: white;
	float:left;
	color:black;
	border-right: 1px solid rgb(233,233,233);
	border-top: 1px solid rgb(211,211,211);
	z-index: 1;
	font-weight: bold;

}
	
div.alert_box_text{
	padding-top: 10px;
	width:150px;
	height: 5px;
	font-size: 20px;
	border-right: none !important;
}
	
	

.edit{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width:40%;
    color: blue;
    text-align: center;
    background-color: white;
    margin-left: 30%;
    margin-top: 15%;
    height: 50%;
    display: none;
    z-index: 1;
}


.edit_left{
	background-color: white;
	color: black;
	float: left;
	width: 50%;
	overflow: scroll;

}


.edit_right{
	background-color: rgb(0,0,0,0);
	border-left: 1px solid rgb(0,0,0,0.3);
	color: white;
	float: right;
	width: 50%;
	height: 90%;
}


.edit_left_text{
	border-bottom: 1px solid rgb(0,0,0,0.3);
	margin-bottom: -10px;
}

.edit_right_buttons{
	margin-top: 10px;
	color:black;
	background-color: white;
	border: 1px solid rgb(0,0,0,0.3);
	height: 30px;
	border-radius: 5px;
}

.edit_right_buttons:hover {
	cursor:default;
}

.edit_top{
	background-color: white;
	width: 100%;
	border-bottom: 1px solid rgb(0,0,0,0.3);
	text-align: right;
}

.edit_top_button{
	background-color: white;
	text-align: right;
	border: none;
}

.edit_top_button:hover {
	cursor:default;
}






div.counter{
}






.multiselect {
  width: 250px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  position: absolute;
  border: 1px #dadada solid;
  z-index: 1;
  width: 250px;
}

#checkboxes label {
  display: block;
  position: relative;
  background-color: white !important;
  z-index: 1;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}









.modal {
	display: none; 
	position: fixed;
	z-index: 1; 
	padding-top: 100px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}




div.risk_box{
	width:50%;
}


div.details_box{
	float:left;
	width:50%;
	margin-top: -25px;
	padding-left: 10px;	
	z-index: 1;

}


div.network_box{
	visibility: hidden;
	font-weight: bold;
	border-bottom:  1px solid rgb(0,0,0,0.3)

}



.newtable{
	width:100% !important;
	padding-top: 10px;
	text-align: left;
}

.newtable:hover{
	width:100% !important;
	padding-top: 10px;
	text-align: left;
	background-color: white !important;
}

.newtd{
	border:none !important;
}
.newtd:hover{
	background-color: white !important;
}


.newtr{
}

.newtr:hover{
	background-color: white !important;
}

div.network_box_ips{
	padding-top: 10px;
	padding-left: 10px;	
	font-size: 15px;
	width:40%;
	float:left;
	height: 200px;
	overflow-y: scroll;
}

div.network_most_used_ip{
	float:left;
	width:60%;
	padding-top: 10px;
	overflow: scroll;
	overflow-y: scroll;
	visibility: hidden;
}

div.network_most_used_ip_print{
	font-size: 13px;
	text-align: right;
	padding-right: 90px;
}



.chart {
	margin-top: 100px;
	width:100%;
	display: grid;
 	height: 50%;
}

div.bar {
	grid-row-start: 1;
	grid-row-end: 101;
	border-radius: 5px 5px 0 0;
	background-color: #ff4136;
	transition: 2s;
}


.caption {
	font-size: 10px;
}



.loader {
	margin: auto;
	margin-top: 90px; 
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 300px;
	height: 300px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}