div.continut{
	color:red;
	width: 100% - 20px;
	height: 100%;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	overflow: scroll;
	box-shadow: 0 0 3px #000000;
}


.tabel{
	color:black;
	margin-bottom: 50px;
}
tr{
	background-color: rgb(255, 255, 255) !important;
}
td{
	font-size: 15px;
	border-color: rgb(0, 0, 0,0.2) !important;
	border-right: none !important;
	border-left: none !important;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

}

td:hover{
	font-size: 16px;
}


th{
	background-color: white;
	font-size: 20px;
	padding-bottom: 5px;
}


.plus{
	float:right;
	display: flex;
	text-align: right;
	color:red;
	background-color: white;
	border:none;
}


input[type=text], select {
 	color:black;
 	display: inline !important;
	border-top: none;
	border-left: none;
}

button{
	margin-left: 5px;
	margin-top: 5px;
}


.search{
	font-size: 15px;
	float:right;
	margin-left: -200px;
	visibility: hidden;
}
.search_btn{
	margin-left: -200px;
	font-size: 15px;
	float:right;
}