<html>


<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/navbars/">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_rules.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/divs.css') }}">
    
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg rounded" aria-label="Eleventh navbar example">
		  <div class="container-fluid">
			<a class="navbar-brand" href="#">Menu</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample09">
			  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item active">
				  <a class="nav-link" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/alerts">Alerts</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/preview_whitelist">Whitelist</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/previewBlacklist">Blacklist</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/previewRules" tabindex="-1">Rules</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/pcapAnalysis">PCAPs</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/register" tabindex="-1">Register</a>
				</li>
			  </ul>
			</div>
		  </div>
		</nav>
	</div>


	<div class='content'>
            <div class="titlu">Rules</div> 

<!--
	        {%for i in range(len)%} 
            	<div id='t_{{i}}' onmouseover="change_text('t_{{i}}')"class='lista'>
            	
            	{%for j in rules[i]%}
            			<div  class='cutie'> {{j}} </div>
            	{%endfor%}
				</div>
            {%endfor%}
		-->

		<table class='tabel' id='table'>
	        {%for i in range(len)%} 
	            <tr>
	        		{%for j in rules[i]%} 
	                    <td>{{j}}</td> 
                    {%endfor%}
	            </tr>
            {%endfor%}
	            <tr>
            		{%for i in range(7)%} 
	                	<td>&nbsp</td> 
          			{%endfor%}
            		<td>
                    	 <button style="background: url(static/images/plus.png); 
					    width:20px; height: 20px;background-size: cover; border:none;" onclick="add_rule('1')"></button>
					</td>
	            </tr>
		</table>

		<div class="box" id='box'>
			<button style="background: url(static/images/x.png); 
					    width:20px; height: 20px;background-size: cover; border:none; " onclick="add_rule('2')"></button>
			<form action='/process-rule'  method="post" enctype="multipart/form-data">
				<input type='text' id='protocol' name='protocol' placeholder='Protocol'><br>
				<input type='text' id='host' name='host' placeholder='HOST'><br>
				<input type='text' id='destination' name='destination' placeholder='DESTINATION'><br>
				<input type='text' id='others' name='others' placeholder='OTHERS'><br>
				<input type='text' id='offset' name='offset' placeholder='OFFSET'><br>
				<input type='text' id='bytes' name='bytes' placeholder='BYTES'><br>
				<input type='text' id='risk' name='risk' placeholder='RISK'><br>
				<input type='text' id='message' name='message' placeholder='MESSAGE'><br>
				<input id='submit' type='submit' value='Submit'>
			</form>

		</div>
	</div>



			


</body>

<script>
	function add_rule(type) {
		if (type == '1'){
			document.getElementById('box').style.visibility='visible';
		}
		else if (type == '2'){
			document.getElementById('box').style.visibility='hidden';
		}

	}
</script>


</html>