<html>


<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/navbars/">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    
</head>

<body>
	
	<div class="box" id='box' onmouseover="hover()">
		<form action='/login'>
			<input type='text' id='fname' name='firstname' placeholder='Username'><br>
			<input type='password' id='lname' name='lastname' placeholder='Password'><br>
			<input type='file' id='myFile' name='filename'><br>
			<h1 id='title'>Login</h1><br>
			<input id='submit' type='submit' value='Submit'>
		</form>

	</div>
			
			
			
			
			
			


</body>

<script>
	ok=0;
	function hover() {
		if (ok == 0){
		document.getElementById('box').style.paddingTop = '100';
		document.getElementById('fname').style.visibility = 'visible';
		document.getElementById('lname').style.visibility = 'visible';
		document.getElementById('myFile').style.visibility = 'visible';
		document.getElementById('submit').style.visibility = 'visible';
		document.getElementById('fname').style.opacity = 0;
		document.getElementById('lname').style.opacity = 0;
		document.getElementById('myFile').style.opacity = 0;
		document.getElementById('submit').style.opacity = 0;
		var fade = document.getElementById("fname"); 
		var fade2 = document.getElementById("lname"); 
		var fade3 = document.getElementById("myFile"); 
		var fade4 = document.getElementById("submit"); 
            var opacity = 0; 
            var intervalID = setInterval(function() { 
  
                if (opacity < 1) { 
                    opacity = opacity + 0.1 
                    fade.style.opacity = opacity; 
                    fade2.style.opacity = opacity; 
                    fade3.style.opacity = opacity; 
                    fade4.style.opacity = opacity; 
                } else { 
                    clearInterval(intervalID); 
                } 
            }, 100); 
		document.getElementById('title').style.display = 'none';
		ok=1;
		}
	}
</script>

</html>