<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/navbars/">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pcaps.css') }}">
    
</head>

<body>


	<div class="container" id='container'>
		<nav class="navbar navbar-expand-lg rounded" aria-label="Eleventh navbar example">
		  <div class="container-fluid">
			<a class="navbar-brand" href="#">Menu</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample09">
			  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item active">
				  <a class="nav-link" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/alerts">Alerts</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/preview_whitelist">Whitelist</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/previewBlacklist">Blacklist</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/previewRules" tabindex="-1">Rules</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/pcapAnalysis">PCAPs</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/register" tabindex="-1">Register</a>
				</li>
			  </ul>
			</div>
		  </div>
		</nav>
	</div>
	

	<div class='modal' id='modal'>
	</div>


	
	<div class="content">
		
	<div ondragover="changeDiv()" ondrop="dropHandler()"class="thirdbox" id="third">
		<div id='after_box' class='after_box'>
			<div id='after_box_left' class='after_box_left'>
				<div id='after_box_left_up' class='after_box_left_up'>
					<div class='after_box_left_up_hover'>
						<div class='after_box_left_up_hover_content'>
							<button class='button_DNS'>DNS</button>
							<button class='button_HTTP' onclick="loadHTML();">HTTP</button>
							<button class='button_ICMP'>ICMP</button>
						</div>
					</div>
					<label id="fileDragName"></label><br>
					<label id="fileDragSize"></label><br>
					<label id="fileDragType"></label><br>
					<label id="RequestsNumberDNS"></label><br>
					<label id="DifferentRequestsDNS"></label><br>
				</div>

				<div id='after_box_left_down' class='after_box_left_down'>

				</div>
			</div>


			<div id='after_box_right' class='after_box_right'>

			</div>
		</div>


		<div id="holder" style="width:100%; height:100%; border: 10px dashed #ddd">

			<div id='thirdbox_content' class="thirdbox_content">
				Drag here your files
			</div>

		</div>

	</div>

	
		
	</div>



</body>


<script>
	function displayPcapInfo(variabila){
		if (document.getElementById(variabila+'Block').style.display == 'none')
		{
			document.getElementById(variabila+'Block').style.display='block';
		}
		else{
			document.getElementById(variabila+'Block').style.display='none';
		}
	}

</script>



<script>
	var objJson

	var alerteHTTP;
	var alerteHTTPFiles;
	var HTTPFiles;
	function printExfil(div){
		if (document.getElementById(div).style.display == 'none')
		{
			document.getElementById(div).style.overflow='auto';
			document.getElementById(div).style.display='block';
		}
		else{
			document.getElementById(div).style.display='none';
		}

	}
	function readfiles(files) {

		var last = '';
		var formData = new FormData();
		for (var i = 0; i < files.length; i++) {
			reader = new FileReader();
			reader.onload = function(event) {
				//document.getElementById('fileDragData').innerHTML = event.target.result;
			}
			reader.readAsDataURL(files[i]);
			formData.append('file', files[i], files[i].name);
		}

		var xhr = new XMLHttpRequest();
	  
		xhr.open('POST', 'pcapAnalysisUpload', true);
		xhr.onload = function () {
			var continut = '';
			if (xhr.status === 200) {
				var raspuns = xhr.responseText;
				lista_raspuns = raspuns.split('^')
				lista_alerte = lista_raspuns[1].split('|')
				for (let i=0; i<lista_alerte.length; i++){
					var type = lista_alerte[i].split(',')[0];
					var source = lista_alerte[i].split(',')[1];
					var destination = lista_alerte[i].split(',')[2];
					var payload = lista_alerte[i].split(',')[3];
					var risk = lista_alerte[i].split(',')[4];
					var message = lista_alerte[i].split(',')[5];
					var timestamp = lista_alerte[i].split(',')[6];
					var content = type+" alert "+payload+" as malicious";
					//continut = continut.concat("<div class='alerta_pcap' id='"+i.toString()+"_alertaPcap' onclick=\"alert('1')\">");
					continut = continut.concat("<div class='alerta_pcap' id='"+i.toString()+"_alertaPcap' onclick=\"displayPcapInfo('"+i.toString()+"_alertaPcap')\">");
					continut = continut.concat(content);
					continut = continut.concat("</div><br>");
					continut = continut.concat("<div class='alerta_pcap_block' id='"+i.toString()+"_alertaPcapBlock'>");
					continut = continut.concat("<div class='alerta_pcap_block_fields'>");
					continut = continut.concat("Type: "+type+"<br>");
					continut = continut.concat("Source: "+source+"<br>");
					continut = continut.concat("Destination: "+destination+"<br>");
					continut = continut.concat("Payload: "+payload+"<br>");
					continut = continut.concat("Risk: "+risk+"<br>");
					continut = continut.concat("Message: "+message+"<br>");
					continut = continut.concat("Timestamp: "+timestamp+"<br>");
					continut = continut.concat("</div><br>");
					continut = continut.concat("</div><br>");
				}
				objJson = JSON.parse(lista_raspuns[3])
				var continut2 = '';
				lista_domenii_unice= lista_raspuns[2].split('|');
				for (let i=0; i<lista_domenii_unice.length; i++){
					if (lista_domenii_unice=='.'){
					continut2 = continut2.concat("<div class='alerta_pcap'>");
					continut2 = continut2.concat(lista_domenii_unice[i]);
					continut2 = continut2.concat("</div><br>");
					}
					else{
						continut2 = continut2.concat("<div class='alerta_pcap' id='invizibil' onclick=\"printExfil('"+i.toString()+"_detaliiExfil')\">");
						continut2 = continut2.concat(lista_domenii_unice[i]);
						continut2 = continut2.concat("</div><br>");
						continut2 = continut2.concat("<div class='alerta_pcap_block' id='"+i.toString()+"_detaliiExfil'>");
						continut2 = continut2.concat(objJson[lista_domenii_unice[i]]);
						continut2 = continut2.concat("</div><br>");
					}
				}


				alerteHTTP = lista_raspuns[4].split("|");
				HTTPFiles = lista_raspuns[5].split("|");
				alerteHTTPFiles = lista_raspuns[6].split("|");


				document.getElementById('after_box_left_down').innerHTML=continut2;
				document.getElementById('invizibil').style.display='block';
				document.getElementById('after_box_left').style.display='block';
				document.getElementById('after_box_right').style.display='block';
				document.getElementById('fileDragName').innerHTML = "Filename: "+files[0].name;
				document.getElementById('fileDragSize').innerHTML = "File Size: "+files[0].size;
				document.getElementById('fileDragType').innerHTML = "File Type: "+files[0].type;

				document.getElementById('RequestsNumberDNS').innerHTML="Request-uri DNS: "+lista_raspuns[0].split('|')[0];
				document.getElementById('DifferentRequestsDNS').innerHTML="Different Domains: "+lista_raspuns[0].split('|')[1];
				document.getElementById('after_box_right').innerHTML=continut;

			} else {
				alert('Something went wrong uploading the file.');
			}
		};  
		xhr.send(formData);
	}


	var holder = document.getElementById('holder');
	var third = document.getElementById('third');
	holder.ondragover = function () { this.className = 'hover'; return false; };
	holder.ondragend = function () { this.className = ''; return false; };
	holder.ondrop = function (e) {
		this.className = '';
		e.preventDefault();
		third.style.boxShadow = '';
		holder.style.backgroundColor = 'white';
		holder.style.border = 'none';
		var x = document.getElementById('thirdbox_content');
		x.style.backgroundColor = 'white';
		x.innerHTML = 'Done';
		holder.style.display='none';
		var z = document.getElementById('after_box');
		z.style.display='block';
		x.style.fontSize='15px';
		readfiles(e.dataTransfer.files);


	}


	function changeDiv(){
		var x = document.getElementById('thirdbox_content');
		var y = document.getElementById('holder');
		x.style.backgroundColor = 'lightblue';
		y.style.backgroundColor = 'lightblue';
		x.style.textAlign='center';
		x.innerHTML = 'Drop it like it\'s hot<br>';
		y.style.border='none';
		x.style.fontSize='50px';
	}


	function loadHTML(){
		 alert(alerteHTTP);
		//var alerteHTTPFiles;
		//var HTTPFiles;
	}

</script>


</html>