<html>


<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/navbars/">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}">
    
</head>

<body>

	<div class="container">
		<nav class="navbar navbar-expand-lg rounded" aria-label="Eleventh navbar example">
		  <div class="container-fluid">
			<a class="navbar-brand" href="#">Menu</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample09">
			  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item active">
				  <a class="nav-link" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/">Discover</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#" tabindex="-1">Vizualize</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/register" tabindex="-1">Register</a>
				</li>
			  </ul>
			</div>
		  </div>
		</nav>
	</div>


	<div class="box" id='box' onmouseover="hover()">
		<form action='/process-register'  method="post" enctype="multipart/form-data">
			<input type='text' id='fname' name='username' placeholder='Username'><br>
			<input type='password' id='lname' name='password' placeholder='Password'><br>
			<h1 id='title'>Register</h1><br>
			<input id='submit' type='submit' value='Submit'>
		</form>

	</div>

			


</body>

<script>
	ok=0;
	function hover() {
		if (ok == 0){
		document.getElementById('box').style.paddingTop = '100';
		document.getElementById('fname').style.visibility = 'visible';
		document.getElementById('lname').style.visibility = 'visible';
		document.getElementById('submit').style.visibility = 'visible';
		document.getElementById('fname').style.opacity = 0;
		document.getElementById('lname').style.opacity = 0;
		document.getElementById('submit').style.opacity = 0;
		var fade = document.getElementById("fname"); 
		var fade2 = document.getElementById("lname"); 
		var fade4 = document.getElementById("submit"); 
		var opacity = 0; 
		var intervalID = setInterval(function() { 
			if (opacity < 1) { 
				opacity = opacity + 0.1 
				fade.style.opacity = opacity; 
				fade2.style.opacity = opacity; 
				fade4.style.opacity = opacity; 
			} else { 
				clearInterval(intervalID); 
			} 
        }, 100); 
		document.getElementById('title').style.display = 'none';
		ok=1;
		}
	}
</script>

</html>